<a href="https://colab.research.google.com/github/SainiManisha/basics-ip/blob/master/DBMS%20Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import sqlite3

In [32]:
import pandas as pd

In [33]:
df=pd.DataFrame({'Col':[1,2,3]})

In [12]:
df

0  1
1  2
2  3

In [13]:
import sqlite3, os
import pandas as pd
df=pd.DataFrame({'Col':[1,2,3]})
df

   Col
0    1
1    2
2    3

In [24]:
conn= sqlite3.connect('example_4.db')

In [19]:
df.to_sql('test_table1',conn)

In [29]:
sql= 'select * from test_table test_table1'

In [30]:
sql

'select * from test_table test_table1'

In [21]:
pd.read_sql(sql, conn)

   index  Col
0      0    1
1      1    2
2      2    3